gitpython
jsonschema
jsonpickle
mkdocs
multiprocessing_logging
pychalk
pygithub
commentjson
pytablewriter
pytest-cov
pytest-timeout
pytest-xdist
python-gitlab
pyyaml
requests
terminaltables
webpreview
yq
importlib-metadata>=3.10
mkdocs-material
mdx_truly_sane_lists
beautifulsoup4
giturlparse
json-schema-for-humans
# flask-restful
types-PyYAML
types-requests
types-Markdown
types-urllib3
types-toml
types-simplejson
types-setuptools
types-pytz
types-python-dateutil
types-chardet
types-jsonschema
setuptools
click
Markdown
